 
* {
  box-sizing:border-box;
}

html {
  height:100vh;
}

body {
  background: url(./../assets/Psychedelic\ 70s\ Aesthetic\ Wallpaper\ Hd\ Images\,\ Retro\ 1970s\ Background\ Images\ -\ FancyOdds.jpg) no-repeat;
  background-size: cover;
  height:100vh;
  font-family: open sans;
  display:flex;
  justify-content:center;
  align-items:center;
  color:brown;
}
header {
  background-color: #893700;
  width: fit-content;
  height: fit-content;
  border-radius: 2em;


}

.foto {
  height: 150px;
  width: 150px;
  border: 5px solid ;
  border-color:#fabb00;
  border-radius: 50%;
  display: block;
  margin: auto;
  transition-duration: 2s;



}

.foto:hover {
  height: 200px;
  width: 200px;
}

.streep {
  background-color: #fabb00;
  border-radius: 2em;
  height: 8px;
  width: 300px;
  display: block;
  margin: auto;
}
.naam {
  color: #fcab68;
  font-size: 36px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  margin-top: 16px;
  text-align: center;
}
.status {
  color: #eddbd0;
  font-family: arial;
  font-size: 14px;
  font-style: italic;
  margin-top: 6px;
  text-align: center;
}
.date {
  color: #eddbd07e;
  font-family: arial;
  font-size: 14px;
  text-align: center;
  transition-property: color;
  transition-duration: 1,5s;
}

.date:hover {
  color: #eddbd0;
}

.aboutme {
  color: #eddbd0;
  text-align: center;
}