 
* {
  box-sizing:border-box;
}

html {
  height:100vh;
}

body {
  background: url(./../assets/wavy\ colors.jpg) no-repeat;
  background-size:cover;
  height:100vh;
  font-family: calibri;
  display:flex;
  justify-content:center;
  align-items:center;
  color:rgb(245, 203, 232);
}


header {
  background-color: #ff656590;
  border-radius: 2em;

}
.foto {
  
  border: #ffbebe;
}

.naam {
  color: #ffbebe;
  font-size: 36px;
  font-family:Geneva;
  font-weight: 600;
  margin-top: 16px;
  text-align: center;
}
.status {
  color: #eddbd0;
  font-family: calibri;
  font-size: 14px;
  font-style: italic;
  margin-top: 6px;
  text-align: center;
}
.aboutme {
  color: #eddbd0;
  font-family: calibri;
  font-size: 14px;
  font-style: italic;
  margin-top: 6px;
  text-align: center;
}